USE [master]
GO
/****** Object:  Database [Quanlibanquanao]    Script Date: 12/15/2021 10:37:24 PM ******/
CREATE DATABASE [Quanlibanquanao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLIBANHANG', FILENAME = N'G:\SQL server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUANLIBANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLIBANHANG_log', FILENAME = N'G:\SQL server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUANLIBANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quanlibanquanao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quanlibanquanao]
GO
/****** Object:  Table [dbo].[CHI]    Script Date: 12/15/2021 10:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI](
	[NgayThangNam] [smalldatetime] NULL,
	[MASP] [char](6) NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/15/2021 10:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [char](8) NULL,
	[MASP] [char](6) NULL,
	[GIAMGIA] [int] NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/15/2021 10:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](8) NOT NULL,
	[NgayThangNam] [smalldatetime] NULL,
	[Giatrigiamgia] [float] NULL,
	[Giatri] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAGIAMGIA]    Script Date: 12/15/2021 10:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAGIAMGIA](
	[MAGG] [char](10) NOT NULL,
	[GIATRIMA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/15/2021 10:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](6) NOT NULL,
	[TENSP] [nvarchar](40) NULL,
	[NUOCSX] [nvarchar](40) NULL,
	[GIA] [float] NULL,
	[SOLUONGCONLAI] [int] NULL,
	[GIAMGIA] [int] NULL,
	[ANHSANPHAM] [varchar](max) NULL,
	[GIOITINH] [nvarchar](8) NULL,
	[MOTA] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userid]    Script Date: 12/15/2021 10:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userid](
	[username] [varchar](40) NOT NULL,
	[pass] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userid1]    Script Date: 12/15/2021 10:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userid1](
	[username] [varchar](40) NOT NULL,
	[pass] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[userid1] ([username], [pass]) VALUES (N'ad', N'ad')
INSERT [dbo].[userid1] ([username], [pass]) VALUES (N'admin', N'admin')
GO
ALTER TABLE [dbo].[CHI]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[MAGIAMGIA]  WITH CHECK ADD  CONSTRAINT [CK_GIATRI] CHECK  (([GIATRIMA]>(0)))
GO
ALTER TABLE [dbo].[MAGIAMGIA] CHECK CONSTRAINT [CK_GIATRI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_GIA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_GIAMGIA] CHECK  (([GIAMGIA]>=(0) AND [GIAMGIA]<=(100)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_GIAMGIA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONGCONLAI]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SOLUONG]
GO
USE [master]
GO
